In [81]:
import pandas as pd

df = pd.read_csv('hasil_kategori_lda.csv')
df.head()

,Unnamed: 0,id,review,label,pred_single,pred_multiple,terms
0,0,0,i am not necessarily fanatical about this plac...,VALUE,VALUE,VALUE|VALUE,price|place
1,1,2,the high prices you're going to pay is for the...,VALUE,VALUE,FOOD|VALUE|VALUE|VALUE|VALUE|VALUE|VALUE|VALUE,food|price|high|pay|view|going|'re|go
2,2,3,the high prices you're going to pay is for the...,VALUE,VALUE,FOOD|VALUE|VALUE|VALUE|VALUE|VALUE|VALUE|VALUE,food|price|high|pay|view|going|'re|go
3,3,4,the high prices you're going to pay is for the...,VALUE,VALUE,FOOD|VALUE|VALUE|VALUE|VALUE|VALUE|VALUE|VALUE,food|price|high|pay|view|going|'re|go
4,4,5,the high prices you're going to pay is for the...,VALUE,VALUE,FOOD|VALUE|VALUE|VALUE|VALUE|VALUE|VALUE|VALUE,food|price|high|pay|view|going|'re|go

In [99]:
def calculate(label, is_multi):
    tp = 0
    tn = 0
    fp = 0
    fn = 0
    kosong = 0
    
    for index in range(0, len(df)):
        labels = df['label'][index].split('|')
        if is_multi:
            if type(df['pred_multiple'][index]) != float:
                preds = df['pred_multiple'][index].split('|')

                if label in labels and label in preds:
                    tp += 1
                elif label not in labels and label not in preds:
                    tn += 1
                elif label not in labels and label in preds:
                    fp += 1
                elif label in labels and label not in preds:
                    fn += 1
            elif label in labels:
                fn += 1
            else:
                fp += 1
        else:
            if type(df['pred_single'][index]) != float:
                preds = [df['pred_single'][index]]

                if label in labels and label in preds:
                    tp += 1
                elif label not in labels and label not in preds:
                    tn += 1
                elif label not in labels and label in preds:
                    fp += 1
                elif label in labels and label not in preds:
                    fn += 1
            elif label in labels:
                fn += 1
            else:
                fp += 1
    precision = tp / (tp + fp)
    recall = tp / (tp + fn)
    f1 = 2 * ((precision * recall) / (precision + recall))
    print(tp, tn, fp, fn, precision, recall, f1)
    return tp, tn, fp, fn, precision, recall, f1

In [102]:
import pandas as pd

sf = pd.DataFrame(columns=['TP', 'TN', 'FP', 'FN', 'precision', 'recall', 'f1'])

cat = ['AMBIENCE', 'FOOD', 'SERVICE', 'VALUE']
for c in cat:
    a, b, c, d, e, f, g = calculate(c, False)
    sf = sf.append({'TP':a, 'TN':b, 'FP':c, 'FN':d, 'precision':e, 'recall':f, 'f1':g}, ignore_index=True)
sf.to_excel("nikon-false.xlsx")

104 427 66 102 0.611764705882353 0.5048543689320388 0.5531914893617021
273 263 19 144 0.934931506849315 0.6546762589928058 0.770098730606488
29 508 20 142 0.5918367346938775 0.1695906432748538 0.2636363636363636
65 422 169 43 0.2777777777777778 0.6018518518518519 0.38011695906432746

In [103]:
import pandas as pd

sf = pd.DataFrame(columns=['TP', 'TN', 'FP', 'FN', 'precision', 'recall', 'f1'])

cat = ['AMBIENCE', 'FOOD', 'SERVICE', 'VALUE']
for c in cat:
    a, b, c, d, e, f, g = calculate(c, True)
    sf = sf.append({'TP':a, 'TN':b, 'FP':c, 'FN':d, 'precision':e, 'recall':f, 'f1':g}, ignore_index=True)
sf.to_excel("nikon-true.xlsx")

144 352 141 62 0.5052631578947369 0.6990291262135923 0.5865580448065174
334 241 41 83 0.8906666666666667 0.8009592326139089 0.8434343434343434
121 500 28 50 0.8120805369127517 0.7076023391812866 0.7562500000000001
108 262 329 0 0.2471395881006865 1.0 0.39633027522935776