In [1]:
import pandas as pd

In [25]:
data = pd.read_csv('restaurant-multiple-categories.csv')
data.head()

,reviewID,sentenceID,review,category,polarity
0,1004293,1004293:0,Judging from previous posts this used to be a ...,RESTAURANT#GENERAL,negative
1,1004293,1004293:1,"We, there were four of us, arrived at noon - t...",SERVICE#GENERAL,negative
2,1004293,1004293:2,"They never brought us complimentary noodles, i...",SERVICE#GENERAL,negative
3,1004293,1004293:3,The food was lousy - too sweet or too salty an...,FOOD#QUALITY,negative
4,1004293,1004293:4,"After all that, they complained to me about th...",SERVICE#GENERAL,negative

In [29]:
categories = {}
count = 0

for cat in data['category']:
    count += 1
    category = cat.split(',')
    for c in category:
        x = c.split('#')[0]
        try:
            categories[x] += 1
        except:
            categories[x] = 1
print(count)

1120

In [30]:
categories

{'AMBIENCE': 111,
 'DRINKS': 40,
 'FOOD': 451,
 'LOCATION': 16,
 'RESTAURANT': 319,
 'SERVICE': 183}

In [10]:
# import pandas as pd

# df = pd.DataFrame(columns=['category','total'])
# for r in categories:
#     df = df.append({'category': r, 'total': categories[r]}, ignore_index=True)
# df.to_excel("category-belakang.xlsx")

In [11]:
PERFORMANCE = ['CPU', 'FANS_COOLING', 'GRAPHICS']
HARDWARE = ['KEYBOARD', 'HARDWARE', 'BATTERY', 'DISPLAY', 'HARD_DISC',
            'MOTHERBOARD', 'MEMORY', 'MOUSE', 'OPTICAL_DRIVES', 'PORTS', 
            'MULTIMEDIA_DEVICES', 'POWER_SUPPLY']
SOFTWARE = ['OS', 'SOFTWARE']
VALUE = ['LAPTOP', 'SUPPORT', 'WARRANTY', 'COMPANY', 'SHIPPING']

In [19]:
import pandas as pd

def run(tipe, multiple):
    filename = 'single'
    if multiple:
        filename = 'multiple'
    if tipe == 'train':
        data = pd.read_csv('laptop-'+ filename +'-train.csv')
    else:
        data = pd.read_csv('laptop-'+ filename +'-test.csv')

    p = pd.DataFrame(columns=['tweet','label'])
    index = 0
    for r in data['review']:
        aspects = data['category'][index].split(',')
        aspect = []
        for a in aspects:
            cat = a.split('#')[1]
            if cat in ['CONNECTIVITY', 'MISCELLANEOUS', 'PORTABILITY', 'USABILITY', 'PRICE']:
                cat = 'OTHERS'
            aspect.append(cat)
            
        polarity = data['polarity'][index]
        string_aspect = ','.join(aspect)
#         aspek = ''
#         if aspek in PERFORMANCE:
#             aspek = 'PERFORMANCE'
#         if aspek in HRFWARE    
        
#         if aspect in ['CONNECTIVITY', 'MISCELLANEOUS', 'PORTABILITY', 'USABILITY', 'PRICE']:
#             p = p.append({'tweet': r, 'label': 'LAIN', 'polarity': polarity}, ignore_index=True)
#         else:
        p = p.append({'tweet': r, 'label': string_aspect, 'polarity': polarity}, ignore_index=True)
        index += 1
    p.to_csv(tipe + ".csv")
    p.to_excel(tipe + ".xlsx")

In [20]:
run('train', True)

In [118]:
run('test')

In [24]:
jumlah = 0
for a in VALUE:
    jumlah += categories[a]
jumlah

2168