In [2]:
import pandas as pd

data = pd.read_csv('dataset/restaurant-multiple-categories.csv')
data.head()

,reviewID,sentenceID,review,category,polarity
0,1004293,1004293:0,Judging from previous posts this used to be a ...,RESTAURANT#GENERAL,negative
1,1004293,1004293:1,"We, there were four of us, arrived at noon - t...",SERVICE#GENERAL,negative
2,1004293,1004293:2,"They never brought us complimentary noodles, i...",SERVICE#GENERAL,negative
3,1004293,1004293:3,The food was lousy - too sweet or too salty an...,FOOD#QUALITY,negative
4,1004293,1004293:4,"After all that, they complained to me about th...",SERVICE#GENERAL,negative

In [13]:
categories = {}
count = 0

for index, cat in enumerate(data['category']):
    count += 1
    category = cat.split(',')
    for c in category:
        x = c#.split('#')[0]
        if x == 'RESTAURANT#MISCELLANEOUS':
            print(data['review'][index])
            print(cat)
        try:
            categories[x] += 1
        except:
            categories[x] = 1
print(count)

the last time i walked by it looked pretty empty. hmmm.
RESTAURANT#MISCELLANEOUS
Surprisingly nothing could be further from the truth.
RESTAURANT#MISCELLANEOUS
In the evening, this place attracted a well dressed, with it, NY crowd.
RESTAURANT#MISCELLANEOUS
This place is the most Japanese it can ever get.
RESTAURANT#MISCELLANEOUS
The signs, the specials menus, food, and even all the waitstaff are ALL TOTALLY Japanese.
RESTAURANT#MISCELLANEOUS
first it took us a long time to find the place.
RESTAURANT#MISCELLANEOUS
Have recommended the place to friends, always gets good response.
RESTAURANT#MISCELLANEOUS
I take all my NYC guests to VT's.
RESTAURANT#MISCELLANEOUS
I am bringing my whole family back next time.
RESTAURANT#MISCELLANEOUS
Worth visiting the 1st Ave spot because it is the original store.
RESTAURANT#MISCELLANEOUS
After really enjoying ourselves at the bar we sat down at a table and had dinner.
RESTAURANT#MISCELLANEOUS
If you are the type of person who likes being scared and entertained, this is a great place to go and eat.
RESTAURANT#MISCELLANEOUS
This place is always very crowded and popular.
RESTAURANT#MISCELLANEOUS
Kind of a small place but I guess if they are not too busy might be able to fit a group or kids.
RESTAURANT#MISCELLANEOUS
DO not try unless you're just going there to hang out like the rest of the hipsters who apparently have no sense of taste.
RESTAURANT#MISCELLANEOUS
They tell me they are going to cover the garden in glass for the winter, so i'm looking forward to going there on a snowy night to enjoy it.
RESTAURANT#MISCELLANEOUS
Please be aware that it's CASH or AMEX only!
RESTAURANT#MISCELLANEOUS
The owner and staff are all Japanese as well and that adds to the entire ambiance.
RESTAURANT#MISCELLANEOUS
It's a rather cramped and busy restaurant and it closes early.
RESTAURANT#MISCELLANEOUS
This is a nice restaurant if you are looking for a good place to host an intimate dinner meeting with business associates.
RESTAURANT#MISCELLANEOUS
Not a great place for family or general dining.
RESTAURANT#MISCELLANEOUS
They don't concern much of customer's health, just want to make money.
RESTAURANT#MISCELLANEOUS
please don't fool us.
RESTAURANT#MISCELLANEOUS
Authentic Shanghai style and I cannot recommend a better Shanghai place in New York.
RESTAURANT#MISCELLANEOUS
Definitely a great spot for a nice occasion or date.
RESTAURANT#MISCELLANEOUS
A Thai restaurant out of rice during dinner?
RESTAURANT#MISCELLANEOUS
Always a nice crowd, but never loud.
RESTAURANT#MISCELLANEOUS
Good for dates or with friends.
RESTAURANT#MISCELLANEOUS
I am reluctant to write because I would not want my jem of a pizza place to become overcrowded.
RESTAURANT#MISCELLANEOUS
Don't be fooled by crowds of people.
RESTAURANT#MISCELLANEOUS
The worst excuse for Japanese food I've ever encountered.
RESTAURANT#MISCELLANEOUS
Open late (well as late as I ever got there and I'm a night person)
RESTAURANT#MISCELLANEOUS
This is the kind of place you'd like to take all your friends to and still keep a secret.
RESTAURANT#MISCELLANEOUS
But that is highly forgivable.
RESTAURANT#MISCELLANEOUS
If celebrities make you sweat, then your in for a ride, but if your like most around these parts then you'll just yawn and wonder whats with all the hype.
RESTAURANT#MISCELLANEOUS
This is the perfect spot for meeting friends, having lunch, dinner, pre-theatre or after-theatre drinks!
RESTAURANT#MISCELLANEOUS
Excellent spot for holiday get togethers with co-workers or friends that you haven't seen in a while.
RESTAURANT#MISCELLANEOUS
All the people that I bring there go back on their own and bring THEIR friends!
RESTAURANT#MISCELLANEOUS
Wonderful at holiday time.
RESTAURANT#MISCELLANEOUS
My friend from Milan and myself were pleasantly surprised when we arrived and everyone spoke italian.
RESTAURANT#MISCELLANEOUS
It's great to go for a quick lunch either alone or with a friend.
RESTAURANT#MISCELLANEOUS
It's definately not a place to go if you want to impress someone.
RESTAURANT#MISCELLANEOUS
How do you rate home?
RESTAURANT#MISCELLANEOUS
It was the first place we ate on our first trip to New York, and it will be the last place we stop as we head out of town on our next trip to New York.
RESTAURANT#MISCELLANEOUS
This is the perfect date spot for Williamsburg couples.
RESTAURANT#MISCELLANEOUS
If only they delivered, they'd make a mint!
RESTAURANT#MISCELLANEOUS
For those that go once and don't enjoy it, all I can say is that they just don't get it.
RESTAURANT#MISCELLANEOUS
Good luck getting a table.
RESTAURANT#MISCELLANEOUS
A great place to meet up for some food and drinks...
RESTAURANT#MISCELLANEOUS
I found it on a cold night, the perfect spot to warm up.
RESTAURANT#MISCELLANEOUS
1120

In [12]:
categories

{'AMBIENCE#GENERAL': 111,
 'DRINKS#PRICES': 3,
 'DRINKS#QUALITY': 21,
 'DRINKS#STYLE_OPTIONS': 16,
 'FOOD#PRICES': 17,
 'FOOD#QUALITY': 383,
 'FOOD#STYLE_OPTIONS': 51,
 'LOCATION#GENERAL': 16,
 'RESTAURANT#GENERAL': 245,
 'RESTAURANT#MISCELLANEOUS': 50,
 'RESTAURANT#PRICES': 24,
 'SERVICE#GENERAL': 183}

In [10]:
# import pandas as pd

# df = pd.DataFrame(columns=['category','total'])
# for r in categories:
#     df = df.append({'category': r, 'total': categories[r]}, ignore_index=True)
# df.to_excel("category-belakang.xlsx")

In [11]:
PERFORMANCE = ['CPU', 'FANS_COOLING', 'GRAPHICS']
HARDWARE = ['KEYBOARD', 'HARDWARE', 'BATTERY', 'DISPLAY', 'HARD_DISC',
            'MOTHERBOARD', 'MEMORY', 'MOUSE', 'OPTICAL_DRIVES', 'PORTS', 
            'MULTIMEDIA_DEVICES', 'POWER_SUPPLY']
SOFTWARE = ['OS', 'SOFTWARE']
VALUE = ['LAPTOP', 'SUPPORT', 'WARRANTY', 'COMPANY', 'SHIPPING']

In [19]:
import pandas as pd

def run(tipe, multiple):
    filename = 'single'
    if multiple:
        filename = 'multiple'
    if tipe == 'train':
        data = pd.read_csv('laptop-'+ filename +'-train.csv')
    else:
        data = pd.read_csv('laptop-'+ filename +'-test.csv')

    p = pd.DataFrame(columns=['tweet','label'])
    index = 0
    for r in data['review']:
        aspects = data['category'][index].split(',')
        aspect = []
        for a in aspects:
            cat = a.split('#')[1]
            if cat in ['CONNECTIVITY', 'MISCELLANEOUS', 'PORTABILITY', 'USABILITY', 'PRICE']:
                cat = 'OTHERS'
            aspect.append(cat)
            
        polarity = data['polarity'][index]
        string_aspect = ','.join(aspect)
#         aspek = ''
#         if aspek in PERFORMANCE:
#             aspek = 'PERFORMANCE'
#         if aspek in HRFWARE    
        
#         if aspect in ['CONNECTIVITY', 'MISCELLANEOUS', 'PORTABILITY', 'USABILITY', 'PRICE']:
#             p = p.append({'tweet': r, 'label': 'LAIN', 'polarity': polarity}, ignore_index=True)
#         else:
        p = p.append({'tweet': r, 'label': string_aspect, 'polarity': polarity}, ignore_index=True)
        index += 1
    p.to_csv(tipe + ".csv")
    p.to_excel(tipe + ".xlsx")

In [20]:
run('train', True)

In [118]:
run('test')

In [24]:
jumlah = 0
for a in VALUE:
    jumlah += categories[a]
jumlah

2168